.centersliding {
	color: white;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

body {
	background: #1a1a1a;
}
.container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.instant-button {
	color: white;
	margin: auto;
	width: 100px;
	height: 100px;
	background: radial-gradient(#900 15%, #e60000 55%, red 55%, #000 100%);
	border: 10px solid #900;
	border-radius: 70px;
}
